#calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 350px;
  padding: 10px;
  background-color: #000000;
}

#calculator > div {
  border: 1px solid black;
}

.screen {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 2rem;
  background-color: #000000;
  text-align: end;
}

.key {
  padding: 2rem;
  text-align: center;
}

#clear {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #de0000;
  color: #ffffff;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 5;
  padding-top: 100% !important;
  background-color: #126984;
  color: #ffffff;
}

.numeric-key {
  background-color: #727272;
  color: #ffffff;
}

.operator-key {
  background-color: #929292;
  color: #ffffff;
}

#formula {
  color: yellow;
}

#display {
  color: #ffffff;
}